
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  background: white;
}


.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {

  padding-top: 20px;
}


.item1, .item2, .item3{
  background: blue;
  border: black solid 2px;
  color: white;
  text-align: center;

  height: 80px;
}
.item4, .item5 {
  background:mediumspringgreen ;
  border: black solid 2px;
  color: black;
  text-align: center;
  height: 80px;
}


.item6{
  background: red;
  border: black solid 2px;
  color: white;
  text-align: center;
  height: 240px;
}

.item7{
  background: deeppink;
  border: black solid 2px;
  color: white;
  text-align: center;
  height: 240px;

}
.item8{
  background: yellow;
  border: black solid 2px;
  color: black;
  text-align: center;
  height: 80px;

}










.item1, .item2 {
  grid-column: span 3;
}


.item3, .item4, .item5 { grid-column: span 6; }


.item6 { grid-column: span 8; }
.item7 { grid-column: span 4; }
.item8 { grid-column: span 12; }







@media (max-width: 768px){
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
    grid-column: span 12;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .item1, .item2, .item3 {    grid-column: span 4;  }
  .item4, .item5 {    grid-column: span 12;  }
  .item6 {
    grid-column: span 2;
    height: 50px;
  }
  .item7 {    grid-column: span 7;  }
  .item8 {    grid-column: span 3;  }
}



